body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
  padding-top: 40px; 
}



.OurMenu{
  clear: both; 
  height: 100px ; 
  text-align: center;
  font-size: 2.5em;
  font-family: 'Oxygen' , sans-serif;
  font-weight: bold;
  }


#header-nav {
  background-color: #e52165;
  height: 125px;
  border-radius: 0;
  border: 0;
  position: relative;

}


.navbar-brand {
  padding-top: 25px;
  position: relative;
}
.navbar-brand h1 { /
  font-family: 'Lora', serif;
  color:#61122f ;
  font-size: 3em;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 30px;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  top: 5px;
}


.mtitle{
  font-family: 'Lora', serif;
      display: flex;
      text-align: center;
      align-items:center;
      justify-content:center;
      vertical-align: middle;
      color:#0d1137;
      background-color: #e52165; 
      border: 2px solid;
      height: 100px;
      font-size: 1.5em;
      font-weight: bold;

    }


#nav-list {

  margin-top: 10px;
  background-color: #e52165;
}
#nav-list a {
  
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
 
  background-color: #e52165;
}
#nav-list a span {
  
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  
  border: 1px; solid: #61122f;
  top: 5px;
}
.navbar-header button.navbar-toggle {
  top: 5px;
  clear: both;
  margin-top: 2px;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}


.jumbotron{
  font-size: large;
}


.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}



@media (min-width: 1200px) {
  .container .jumbotron {

    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {

  .container .jumbotron {
    height: 558px;
  }
  
}


@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    height: 432px;
  }
 
}


@media (max-width: 767px) {
  


  .navbar-brand {
    padding-top: 10px;
    height: 80px;
    
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
    
  }


  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; 
  }
  .panel-footer section hr {
    width: 50%;
  }
  
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
 
  
}



@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
  

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}


